@tailwind base;
@tailwind components;
@tailwind utilities;
.bgMirrorImage {
  background-image: url("/assets/AbbyInMirror.jpg");
  background-position: center;
}
.bgFilmSectionDefault {
  background-image: url("/assets/TempHotTears.jpg");
  background-position: center;

  transition: background-image 0.2s linear;
}
.bgHotTears {
  background-image: url("/assets/HotTearsMakeup.jpg");
  background-position: center;

  transition: background-image 0.2s linear;
}
.bgGrins {
  background-image: url("/assets/suze.jpeg");
  background-position: center;

  transition: background-image 0.2s linear;
}
.bgDirt {
  background-image: url("/assets/DirtLipstick.jpg");
  background-position: center;

  transition: background-image 0.2s linear;
}
.bgCommercialWork {
  background-image: url("/assets/randomPic.jpeg");
  background-position: center;
}
.circle {
  border: 1px solid white;
  height: 80px;
  position: absolute;
  width: 80px;
  border-radius: 50%;
}
.circle:hover {
  background-color: rgba(0, 0, 0, 0.35);
}
.circle:active {
  background-color: rgba(0, 0, 0, 0.65);
}

.circle:hover polyline,
.circle:focus polyline {
  stroke-width: 2;
}
.circle:active polyline {
  stroke-width: 4;
}
.noncircle {
  height: 80px;
  position: absolute;
  width: 80px;
}
.noncircle:hover polyline,
.noncircle:focus polyline {
  stroke-width: 2;
}
.noncircle:active polyline {
  stroke-width: 4;
}
.arrow {
  position: absolute;
  height: 50px;
  bottom: 10px;
  left: 8px;
}
.opacityFix {
  opacity: 100 !important;
}
.fade-in {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rotate-enlarge {
  animation: rotate-enlarge 0.5s ease-in-out forwards;
}
.reverse-rotate-enlarge {
  animation: reverse-rotate-enlarge 0.5s ease-in-out forwards;
}
@keyframes rotate-enlarge {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(90deg) scale(1.75);
  }
}
@keyframes reverse-rotate-enlarge {
  from {
    transform: rotate(90deg) scale(1.75);
  }
  to {
    transform: rotate(0deg) scale(1);
  }
}
.hvr-grow-small {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.5s;
  transition-property: transform;
}

.hvr-grow-small:hover,
.hvr-grow-small:focus,
.hvr-grow-small:active {
  transform: scale(1.05);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.5s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.2);
}
.title-hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition: letter-spacing 0.8s, transform 0.8s;
}

.title-hvr-grow:hover,
.title-hvr-grow:focus,
.title-hvr-grow:active {
  transform: scale(1.2);
  letter-spacing: 0.5rem;
}
